p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:2380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:1340px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer006 {
	-webkit-transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:195.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1078.00px;
}
#_idContainer007 {
	-webkit-transform:translate(35.999px,203.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1621.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,203.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1568.00px;
}
