p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:2380px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#404040;
	font-family:Arial, sans-serif;
	font-size:920px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#666666;
	font-family:Arial, sans-serif;
	font-size:1340px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-webkit-transform:translate(36.000px,31.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1981.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2660.00px;
}
#_idContainer001 {
	-webkit-transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:173.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:612.00px;
}
#_idContainer002 {
	-webkit-transform:translate(1138.000px,794.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:692.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1138.000px,794.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1407.00px;
}
#_idContainer003 {
	-webkit-transform:translate(36.000px,31.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1981.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2660.00px;
}
#_idContainer004 {
	-webkit-transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:173.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1140.00px;
}
#_idContainer005 {
	-webkit-transform:translate(1045.000px,604.886px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:681.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1045.000px,604.886px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1546.00px;
}
#_idContainer006 {
	-webkit-transform:translate(35.999px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:173.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,1.937px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1140.00px;
}
#_idContainer007 {
	-webkit-transform:translate(36.000px,182.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,182.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1794.00px;
}
#_idContainer008 {
	-webkit-transform:translate(36.000px,286.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1667.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,286.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1794.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
